### Imports

In [62]:
import pandas
import matplotlib
from scipy import stats

### Data reading

In [63]:
data=pandas.read_csv("./data.csv")

In [64]:
data

    Year  Population
0   1901     1979866
1   1911     2142258
2   1921     2115984
3   1931     2301019
4   1941     2614540
5   1951     2945929
6   1961     3610938
7   1971     4492724
8   1981     5725972
9   1991     7050634
10  2001     8489349
11  2011    10086292

In [65]:
data.columns

Index(['Year', 'Population'], dtype='object')

### Dividing into X and Y

In [66]:
x=data['Year']

In [67]:
y=data['Population']

### Plotting Scatter Plot of Data

In [73]:
pyplot.figure('Uttarakhand Population')
matplotlib.pyplot.scatter(x,y,label="Original Data")
pyplot.legend()
matplotlib.pyplot.show()

### Taking slope, intercept, regression-coefficient and other values

In [57]:
slope, intercept, r, p, std_err = stats.linregress(x,y)
print("Slope -> ",slope)
print("intercept -> ",intercept)
print("r -> ",r)
print("p -> ",p)
print("std_err -> ",std_err)

Slope ->  71420.0632867133
intercept ->  -135234685.0388112
r ->  0.9301767175011959
p ->  1.1615273766686576e-05
std_err ->  8913.605992901637

### Plotting Original of Data with line of regression

In [76]:
pyplot.figure('Uttarakhand Population ')
matplotlib.pyplot.scatter(x,y,label="Original Data")
matplotlib.pyplot.plot(x,intercept+slope*x,label="Line of Regression")
pyplot.legend()
matplotlib.pyplot.show()